<header class="border border-b-[1px] border-[#e5e5e5]">
  <div class="container mx-auto px-[10px] py-[14px]">
    <div class="flex items-center justify-between">
      <div>Logo Plerdy</div>
      <div class="hidden md:flex">
        <nav>
          <ul class="flex gap-8 text-[#7d7d7d] font-semibold text-lg tracking-widest font-source">
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Use Cases</a></li>
            <li><a href="/">Book a Demo</a></li>
          </ul>
        </nav>
      </div>
      <div class="hidden md:flex gap-4 font-source">
        <button type="button" class="text-lg text-[#5d78ff] leading-6">Sign In</button>
        <button type="button" class="border rounded-lg px-6 py-[6px] bg-[#5d78ff] text-white leading-6">Contact sales</button>
      </div>
      <svg width="22" height="10" class="cursor-pointer md:hidden " data-menu-open>
        <use xlink:href="./img/sprite.svg#burger"></use>
      </svg>
    </div>
  </div>

  <!-- mobile menu -->
  <div
    class="bg-white container px-[20px] py-[30px] transition-all z-50 fixed top-0  w-screen h-screen flex flex-col justify-between is-hidden md:hidden"
    data-menu>
    <button type="button" class="absolute top-[10px] right-[14px]" data-menu-close>
      X
    </button>
    <ul class="text-[#7d7d7d] font-semibold text-lg tracking-widest mx-auto">
      <li><a href="/">Pricing</a></li>
      <li><a href="/">Use Cases</a></li>
      <li><a href="/">Book a Demo</a></li>
    </ul>
    <div class="space-x-3 mx-auto font-source">
      <button type="button" class="text-lg text-[#5d78ff] leading-6">Sign In</button>
      <button type="button" class="border rounded-lg px-6 py-[6px] bg-[#5d78ff] text-white leading-6">Contact sales</button>
    </div>
  </div>
</header>