@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, Laoto, Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #001e41;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.qwe {
  outline: 1px solid red;
}
